/*********************************************************
* Base
*/
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 100%;
}
.left-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  background: #cccccc;
  border: 1px solid yellow;
}
.row {
  width: 100%;
  background: red;
  border-bottom: 1px solid blue;
}
.bottom-row {
  background: green;
  overflow-y: scroll;
}
/*********************************************************
* Accordion
*/
.accordion-controls [data-tab-control] {
  display: block;
  padding: 10px 0;
}
.accordion-controls [data-tab-control].tab-on {
  background: yellow;
}
.accordion-panels [data-tab] {
  display: none;
}
.accordion-panels [data-tab].tab-on {
  display: block;
}
/*********************************************************
* Tooltip
*/
.tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  margin-left: -75px;
  width: 150px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border: 1px solid #cccccc;
  background: #FFF;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}
[data-tooltip]:hover .tooltip {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}
.tooltip.top {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}
.tooltip-tip {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  height: 12px;
  width: 18px;
  overflow: hidden;
}
.tooltip-tip > span {
  position: absolute;
  display: block;
  background: #FFF;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  height: 12px;
  width: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
