@lightblue: #E7EDF0;
@green: #3FB58E;
@red: #CB3E21;

@lightergrey: #F4F5F5;
@lightgrey: #CCC;
@grey: #D9DDDD;
@darkgrey: #555;
@darkestgrey: #3A3C3C;

.transition(@props) {
  -webkit-transition: @props;
  -moz-transition: @props;
  -o-transition: @props;
  transition: @props;
}
.box-sizing( @property ) {
  -webkit-box-sizing: @property;
  -moz-box-sizing: @property;
  -ms-box-sizing: @property;
  box-sizing: @property;
}
.transform( @transformation ) {
  -webkit-transform: @transformation;
  -moz-transform: @transformation;
  -o-transform: @transformation;
  transform: @transformation;
}
.transform-origin( @transformation ) {
  -webkit-transform-origin: @transformation;
  -moz-transform-origin: @transformation;
  -o-transform-origin: @transformation;
  transform-origin: @transformation;
}

/*********************************************************
* Base
*/

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 100%;
}

/*********************************************************
* Ticket
*/

.ticket {
  font-family: "Open sans";
  width: 210px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #CCC;
}

.title-container {
  font-size: 1.1em;
}

.t-number {
  color: #999;
  &:before {
    content: "#";
  }
}

.t-state {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  background: @green;
  color: white;
}

/*********************************************************
* Tooltip
*/

.tooltip {
  @_w: 150px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  margin-left: -@_w/2;
  width: @_w;

  font-size: 12px;
  color: #666;
  text-align: center;

  border: 1px solid @lightgrey;
  background: #FFF;
  box-shadow: 0 2px 6px -2px fade( #000, 15% );

  .box-sizing( border-box );
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  [data-tooltip]:hover & {
    .transition( all 0.5s ease-out );
    opacity: 1;
    visibility: visible;
  }

  &.top {
    top: auto;
    bottom: 100%;
    margin-bottom: 5px;
  }
}

.tooltip-tip {
  @_s: 12px;
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  margin-left: -@_s/2;
  height: @_s;
  width: @_s * 1.5;
  overflow: hidden;
  > span {
    position: absolute;
    display: block;
    background: #FFF;
    top: 50%;
    left: 50%;
    margin-left: -@_s/2;
    height: @_s;
    width: @_s;
    .box-sizing( border-box );
    border: 1px solid @lightgrey;
    .transform( rotate( 45deg ) );
  }
}
